.left-decor {
	&__block {
		display: block;
		width: 160px;
		height: 80px;
		background-color: #ffffff;
		margin: 0px 0px 80px 0px;
		&:last-child {
			margin: 0;
		}
	}
}
.bottom-decor {
	&__line {
	}

	&__burger {
	}
}
.right-decor {
	&__block {
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 0px 0px 80px 0px;
		height: 80px;
		width: 80px;
		&:last-child {
			margin: 0;
		}
	}
}

.ibg {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	img {
		width: 0;
		height: 0;
		position: absolute;
		top: 0;
		left: 0;
		opacity: 0;
		visibility: hidden;
	}
}

.slick-slider {
	position: relative;

	.slick-list {
		overflow: hidden;
	}
	.slick-track {
		display: flex;
		align-items: flex-start;
	}
}
