@media (min-width: 991.98px) {
	.menu {
		&__link {
			&:hover {
				color: #00adef;
			}
		}
	}
	.header {
		&__fb {
			&:hover {
				svg path {
					fill: #00adef;
				}
			}
		}
	}
}
@media (max-width: 767.98px) {
	.header {
		height: 85px;
		&__burger {
			top: 30px;
			right: 30px;
		}
		&__menu {
			padding: 100px 0px 20px 0px;
		}
	}
}
@media (max-width: 575.98px) {
	.header {
		padding: 0px 30px;
		&__logo {
			width: 130px;
		}
		&__menu {
			width: 100%;
			background-color: #000;
		}
	}
}
